__pycache__/
*.py[cod]
*.egg-info/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
src/siglent_spd3000/_build_commit.py
gateway-settings.toml
gateway-auth.toml
test_spd300.ipynb
